* {
    font-family: Lato, serif;
    box-sizing: border-box;
}

body{
    margin: auto;
}

.container{
    margin: auto;
    position: relative;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    padding: 8px 20px;
    transition-duration: .4s;
    transition-property: color, background-color;
    cursor: pointer;
}

.btn-transparent {
    border: 1px solid rgb(170, 170, 170);
    background-color: white;
    color: black;
}

.btn-transparent:hover {
    background-color: black;
    color: white;
}

.btn-transparent-white {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.btn-transparent-white:hover {
    color: rgb(170, 170, 170);
}
